<h2>Users list</h2>

<!-- solution with table: -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Date and time</th>
			<th>Barber</th>
			<th>Color</th>
		</tr>
	</thead>
	<tbody>
		<% @results.each do |row| %>
			<tr>
				<td><%= row[1] %></td><!-- row['username'] doesn't work -->	
				<td><%= row[2] %></td><!-- phone -->
				<td><%= row[3] %></td><!-- date/time -->
				<td><%= row[4] %></td><!-- barber -->
				<td style="background-color: <%= row[5] %>"><%= row[5] %></td><!-- color -->
			</tr>
		<% end %>
	</tbody>
</table> 