<h2>Users list</h2>

<!-- simple solution without any table:
<p><%= @info_users %></p>
<br><br><br>
<p><%= @info_users_show %></p> -->

<!-- solution with table: -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Date and time</th>
			<th>Barber</th>
			<th>Color</th>
		</tr>
	</thead>
	<tbody>
		<%= @results %>
		<% @results.each do |row| %>
			<tr>
				<td><%= row[1] %></td><!-- row['username'] doesn't work -->	
				<td><%= row[2] %></td>	
				<td><%= row[3] %></td>	
				<td><%= row[4] %></td>	
				<td><%= row[5] %></td>		
			</tr>
		<% end %>
	</tbody>
</table> 